 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
 @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 html {
     scroll-behavior: smooth;
 }
 
 body {
     margin: 0;
     font-family: 'Poppins', sans-serif;
 }
 
 * {
     box-sizing: border-box;
     margin: 0;
 }
 
 .container {
     max-width: 1140px;
     margin: auto;
 }
 
 .row {
     display: flex;
     flex-wrap: wrap;
 }
 /*header*/
 
 header {
     position: absolute;
     left: 0px;
     right: 0px;
     /*border-bottom: 1px solid #b4b3b3;*/
     padding: 0px 15px;
     z-index: 10;
 }
 
 header.fixed {
     background-color: #ffffff;
     position: fixed;
     animation: fixHeader .5s ease;
     opacity: 0;
 }
 
 @keyframes fixHeader {
     0% {
         transform: translate(-100%);
     }
     100% {
         transform: translate(-0%);
     }
 }
 
 header .row {
     justify-content: space-between;
     align-items: center;
 }
 
 header .actor-name a {
     text-decoration: none;
     font-size: 22px;
     font-weight: 600;
     color: #ffffff;
     text-transform: uppercase;
     position: relative;
 }
 
 header.fixed .actor-name a {
     color: #000000;
 }
 
 header .actor-name a::before {
     content: '';
     height: 3px;
     background-color: #ffffff;
     width: 100%;
     position: relative;
     left: 0px;
     bottom: 0px;
 }
 
 header .navbar ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }
 
 header .navbar ul li {
     display: inline-block;
     margin-left: 25px;
 }
 
 header .navbar ul li a {
     font-size: 15px;
     text-decoration: none;
     line-height: 72px;
     color: #ffffff;
     display: block;
     font-weight: 600;
     position: relative;
 }
 
 header .fixed .navbar ul li a {
     color: #000000;
 }
 
 header .navbar ul li a::before {
     content: '';
     height: 3px;
     background-color: #ffffff;
     width: 0%;
     position: absolute;
     right: 0px;
     bottom: -1px;
     transition: all .5s ease;
 }
 
 header .fixed .navbar ul li a::before {
     background-color: #000000;
 }
 
 header .navbar ul li a:hover::before {
     width: 100%;
     left: 0;
 }
 /*home*/
 
 .home {
     min-height: 100vh;
     background-image: url("image/koshy.jpg");
     background-size: cover;
     background-position: center;
     padding: 15px;
 }
 
 .home .full-screen {
     min-height: 100vh;
 }
 
 .home .home-content {
     flex: 0 0 100%;
     max-width: 100%;
     display: flex;
     flex-wrap: wrap;
     align-items: flex-end;
     left: 100px;
     /*position: relative;*/
     /*color: black*/
 }
 
 .home .home-content .block {
     flex: 0 0 75%;
     max-width: 75%;
     padding-left: 35px;
     /*border-right: 5px solid black;*/
     margin-top: 50px;
     left: 90px;
     position: relative;
 }
 
 .home .home-content .block h1 {
     color: #eeeeee;
     font-size: 60px;
     font-weight: 400;
     margin: 0;
     padding: 0;
 }
 
 .home .home-content .block h4 {
     color: #eeeeee;
     font-size: 20px;
     font-weight: 500;
     margin: 0;
     padding: 0;
 }
 /*About*/
 
 .about-me {
     padding: 100px 15px;
     background-color: #ffffff;
 }
 
 .about-me .section-title {
     flex: 0 0 100%;
     max-width: 100%;
     margin-bottom: 40px;
 }
 
 .about-me .section-title h1 {
     display: inline-block;
     font-size: 35px;
     text-transform: uppercase;
     font-weight: 700;
     color: #000000;
     margin: 0 0 10px;
     position: relative;
     padding-bottom: 5px;
 }
 
 .about-me .section-title h1:before {
     content: '';
     left: 10%;
     position: absolute;
     height: 2px;
     right: 20%;
     background-color: rosybrown;
     bottom: 0px;
 }
 /*.about-me .about-content {
         background-color: red;
     }*/
 
 .about-me .about-content .img {
     flex: 0 0 22.22%;
     max-width: 22.22%;
     align-content: center;
 }
 
 .about-me .about-content .img img {
     width: 100%;
     display: block;
     padding-left: 0px;
     /*-webkit-transform: rotateY(180deg);*/
 }
 
 .about-me .about-content .text {
     /*background-color: blue;*/
     flex: 0 0 66.66%;
     max-width: 66.66%;
     padding-left: 30px;
 }
 
 .about-me .about-content .text p {
     font-size: 15px;
     font-weight: 400;
     /*font-family: 'Playfair Display', serif;*/
     margin: 20px;
     font-style: unset;
 }
 /* .about-me .section-title p {
         display: block;
     }*/
 /*contact-us*/
 
 .contact-us {
     padding: 100px 15px;
     background-color: #f5f8fd;
 }
 
 .contact-us .section-title h1 {
     left: 10%;
     position: relative;
     font-size: 40px;
     padding-bottom: 23px;
     color: #454052;
 }
 
 .contact-us .contact-form {
     background-color: #ffffff;
     flex: 0 0 100%;
     max-width: 100%;
     padding: 50px;
     border: 1px solid #eeeeee;
 }
 
 .contact-us .contact-form .text {
     flex: 0 0 100%;
     max-width: 100%;
     padding-bottom: 20px;
 }
 
 .contact-us .contact-form .text h2 {
     font-size: 26px;
     font-weight: 600;
     color: #000000;
     margin: 0;
     padding: 0;
 }
 
 .contact-us .contact-form .text p {
     font-size: 15px;
     font-weight: 400;
     line-height: 24px;
     color: #838383;
     margin: 0px;
 }
 
 .contact-us .contact-form space-between {
     justify-content: space-between;
 }
 
 .contact-us .contact-form .col-6 {
     flex: 0 0 calc(50% - 20px);
     max-width: calc(50% - 15px);
 }
 
 .contact-us .contact-form .col-12 {
     flex: 0 0 100%;
     max-width: 100%;
 }
 
 .contact-us .contact-form .form-control {
     height: 45px;
     width: 100%;
     margin-bottom: 15px;
     border: 1px solid #c3d4da;
     padding: 6px 12px;
     font-size: 14px;
     font-weight: 400;
     font-family: 'Poppins', sans-serif;
 }
 
 .contact-us .contact-form textarea.form-control {
     height: 140px;
 }
 
 .contact-us .contact-form .form-control::placeholder {
     color: #838383;
 }
 
 .contact-us .contact-form .button {
     /*background-color: #d5d5d5;*/
     padding: 10px;
 }
 
 .contact-us .contact-form .button a {
     border-radius: 4px;
     color: #ffffff;
     /*border: 1px solid #ffffff;*/
     padding: 12px 25px;
     text-decoration: none;
     /*display: inline-block;*/
     font-size: 14px;
     text-transform: uppercase;
     font-weight: 600;
     transition: all .5s ease;
     background-color: rosybrown;
     box-shadow: 0px 10px 15px #e7e7e7;
 }
 
 .contact-us .contact-form .button a:hover {
     background-color: #000000;
     color: #ffffff;
 }
 /*social media footer*/
 
 footer {
     padding: 80px 15px;
     background-color: #454052;
 }
 
 footer .logo {
     flex: 0 0 100%;
     max-width: 100%;
     text-align: center;
     font-size: 45px;
     color: #f1bbbd;
     font-weight: 700;
 }
 
 footer .social {
     flex: 0 0 100%;
     max-width: 100%;
     text-align: center;
     padding-top: 15px;
     color: #f5f8fd;
 }
 
 footer .social a {
     color: #ffffff;
     text-decoration: none;
     display: inline-block;
     margin: 15px 15px;
     transition: all .5s ease;
     text-decoration: none;
 }
 
 footer .social a:hover {
     color: black;
 }
 /*copyrights*/
 
 .copyright {
     background-color: #454052;
 }
 
 .copyright p {
     color: #cccbcb;
     margin: 0;
     text-align: center;
     font-weight: 400;
     font-size: 14px;
 }
 
 @media(max-width:991px) {
     .home .home-content .block h1 {
         font-size: 50px;
     }
 }